@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #e6e8eb;
    --block-bg: #fff;
    --main-color: #3a4c72;
    --dark-main-color: #213050;
    --special-color: #385898;
    --red-color: #ee4d0d;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    
    -webkit-user-select: none; /* Chrome/Safar+-i */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Стандартный синтаксис */
}

body {
  height: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 5px;
  /* width: 10px; ширина для вертикального скролла */
  width: 0; /* ширина для вертикального скролла */
  background-color: #7a7a7a;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 1em;
}

.two-line-clamp {
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: adds an ellipsis (...) at the end */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Specifies the number of lines to display */
  -webkit-box-orient: vertical;
}
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

.container{
  width: 100%;
  height: 100%;
  padding: 0 30px;
}

.table{
    border-collapse: collapse;
    overflow-y: auto;
    width: 100%;
}

.table>tbody>tr>td {
	padding: 15px 7px;
}
.table>thead>tr>th {
	background: #213050;
  padding: 7px;
  color: #fff;
}
.table>tbody>tr:nth-child(odd) {
	background: #115baf09;
}
.table tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}
  
.table thead, .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: left;
}